{% extends "TeachingGeneralBundle:Home:index.html.twig" %}

{% block content %}
	
    <div class="container center">
        
        {% for message in  app.session.flashbag.get('msg') %}
        {% for verificate in app.session.flashbag.get('verificate') %}
            
            {% if verificate == 'success' %}
            
                <div class="alert alert-success" id="msg_flash">
                    {{ message }}
                </div>
                
            {% else %}
                
                <div class="alert alert-danger" id="msg_flash">
                    {{ message }}
                </div>
                
            {% endif %}
            
        {% endfor %}
        {% endfor %}
        
        
        <div class="row">

            {% if messages | length > 0 %}
                {% for m in messages %}

                    <div class="col-sm-12 shadow margin-bottom-25 padding-top-15 padding-bottom-50 center panel">

                        <div class="col-sm-6">
                            <h2>Mensaje</h2>
                            
                            <br/>{{ m.message }}<br/>

                            {#######################################################################}
                            {# ONLY SHOW WHEN USER CLICK CHECK BUTTON AND THEN THERE ISN'T RESULT  #}
                            {#######################################################################}
                            {% if id == m.id %}                                
                                {% if back %}
                                    <form action="{{ url('teaching_admin_info') }}" method="POST">
                                        <input type="hidden" name="id" value="{{ m.id }}" />
                                        <button class="btn btn-danger">
                                            <h2>Pedir información</h2>
                                        </button>                                        
                                    </form>
                                {% endif %}                                
                            {% endif %}
                            {# End button successful #}
                            
                            
                        </div>

                        <div class="col-sm-6 padding-top-50 right">

                            <form action="{{ url('teaching_admin_affilations') }}" method="POST">
                                {# id message #}
                                <input type="hidden" name="id" value="{{ m.id }}" />

                                <button class="btn btn-warning"><h2>Comprobar</h2></button>

                            </form>
                            
                                
                            {#####################################################################}
                            {# ONLY SHOW WHEN USER CLICK CHECK BUTTON AND THEN THERE ARE RESULT  #}
                            {#####################################################################}
                            {% if id == m.id %}
                                {% if next %}
                                    <form action="{{ url('teaching_admin_asign') }}" method="POST">
                                        <input type="hidden" name="id" value="{{ m.id }}" />
                                        <button class="btn btn-success">
                                            <h2>Asignar</h2>
                                        </button>
                                        
                                    </form>
                                {% endif %}
                            {% endif %}
                            {# End button successful #}

                            
                        </div>
                            
                        {% if show %}
                            {% if id == m.id %}
                                <div class="col-sm-12">

                                    {% if span > 0 %}
                                        Hay {{ span }} relacionadas.
                                    {% else %}
                                        {{ span }} resultados
                                    {% endif %}

                                </div>
                            {% endif %}
                        {% endif %}
                        
                        
                    </div>

		{% endfor %}
                
            {% else %}
                
                <div class="col-sm-12 shadow margin-bottom-25 padding-top-15 padding-bottom-50  panel">
                    <h2>Sin peticiones</h2>
                    <br/>
                    No hay peticiones de asignación de usuario.
                </div>
                
            {% endif %}

        </div>

    </div>

{% endblock %}