{% extends "TeachingGeneralBundle:Login:template_with_actions.html.twig" %}

{% block css %}
    {{parent()}}
    <link href="{{ asset('css/section.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block actions %}
{% endblock %}

{% block result %}
    <div id="change">
        <div class="row center margin-bottom-15 menu-actions" id="changeNameTitle"  > <p><h3>Cambiar Nombre y Apellidos</h3></p></div>
        <div class="row center margin-bottom-15 menu-actions" id="changeNameLoad" style=" display: none; opacity: 1; background-color: #30A7D7"><p><h3>Cambiando Nombre y Apellidos <span id="changeNameLoading"></span></h3></p></div>
        <div class="row center margin-bottom-15 menu-actions" id="changeNameSucces" style=" display: none; opacity:1; background-color:#46a546 "> <p><h3>Nombre y Apellidos cambiados correctamente</h3></p></div>
        <div class="row center margin-bottom-15 menu-actions" id="changeNameError" style=" display: none; opacity:1; background-color:#d2322d "> </div>
        <div class="panel padding-bottom-25 padding-top-25 shadow panel-body center contenido active">
            <form id="changeName" name="changeName" >
                <div class="col-md-offset-1 col-lg-offset-1 col-md-5  col-lg-5 left">
                    <label id="labelNewName">Nuevo nombre</label>
                </div>
                <div class=" col-md-3 col-lg-3 ">
                    <input type="text" id="NewName" name="NewName" class="form-control "/>
                </div>
                <div class="col-md-offset-1 col-lg-offset-1 col-md-5  col-lg-5 left">
                    <label id="labelNewSurname">Nuevos apellidos </label>
                </div>
                <div class=" col-md-3 col-lg-3 ">
                    <input type="text" id="NewSurname" name="NewSurname" class="form-control "/><br/>
                </div>
                <input type="submit" class="btn-primary btn" value="Cambiar"/>
            </form>
        </div>



        <div class="row center margin-bottom-15 menu-actions" id="changeEmailTitle"  > <p><h3>Cambiar Email</h3></p></div>
        <div class="row center margin-bottom-15 menu-actions" id="changeEmailLoad" style=" display: none; opacity: 1; background-color: #30A7D7"><p><h3>Cambiando Email <span id="changeEmailLoading"></span></h3></p></div>
        <div class="row center margin-bottom-15 menu-actions" id="changeEmailSucces" style=" display: none; opacity:1; background-color:#46a546 "> <p><h3>Email cambiado correctamente</h3></p></div>
        <div class="row center margin-bottom-15 menu-actions" id="changeEmailError" style=" display: none; opacity:1; background-color:#d2322d "> </div>
        <div class="panel padding-bottom-25 padding-top-25 shadow panel-body center contenido active">
            <form id="changeEmail" name="changeEmail">
                <div class="col-md-offset-1 col-lg-offset-1 col-md-5  col-lg-5 left">
                    <label id="labelNewEmail">Nuevo Email </label>
                </div>
                <div class=" col-md-3 col-lg-3 ">
                    <input type="text" id="NewEmail" name="NewEmail" class="form-control "/><br/>
                </div>
                <input type="submit" class="btn-primary btn" value="Cambiar"/>
            </form>
        </div>



        <div class="row center margin-bottom-15 menu-actions" id="changePasswordTitle" > <p><h3>Cambiar Contraseña</h3></p></div>
        <div class="row center margin-bottom-15 menu-actions" id="changePasswordLoad" style=" display: none; opacity: 1; background-color: #30A7D7"><p><h3>Cambiando Contraseña <span id="changePasswordLoading"></span></h3></p></div>
        <div class="row center margin-bottom-15 menu-actions" id="changePasswordSucces" style=" display: none; opacity:1; background-color:#46a546 "> <p><h3>Contraseña cambiada correctamente</h3></p></div>
        <div class="row center margin-bottom-15 menu-actions" id="changePasswordError" style=" display: none; opacity:1; background-color:#d2322d "> </div>
        <div class="panel padding-bottom-25 padding-top-25 shadow panel-body center contenido active">
            <form id="changePassword" name="changePassword">
                <div class="col-md-offset-1 col-lg-offset-1 col-md-5  col-lg-5 left">
                    <label id="labelPassword">Su contraseña actual </label>
                </div>
                <div class=" col-md-3 col-lg-3 ">
                    <input type="password" id="CurrentPassword" name="CurrentPassword" class="form-control" />
                </div>
                <div class="col-md-offset-1 col-lg-offset-1 col-md-5  col-lg-5 left">
                    <label id="labelNewPassword">Su nueva contraseña </label>
                </div>
                <div class=" col-md-3 col-lg-3 ">
                    <input type="password" id="NewPassword" name ="NewPassword" class="form-control "/>
                </div>
                <div id="grafico" style="display:none">
                    <br/>
                    <br/>
                    <br/>
                    <div class=" col-md-offset-1 col-lg-offset-1 col-md-8  col-lg-8 left">
                        <svg id="svg" width="100%" height="40">
                        <g id="Linegroup" fill="#e1e1e1">
                        <rect  id="Line" x="0" y="20" width="0" height="10" > 
                        </rect>
                        </g>
                        <text id="texto" x="10" y="15" style="fill: #e1e1e1" > Pruebas
                        </text>

                        </svg>
                    </div>
                </div>
                <div class="col-md-offset-1 col-lg-offset-1 col-md-5  col-lg-5 left">
                    <label id="labelNewPassword2">Repita su nueva contraseña</label>
                </div>
                <div class=" col-md-3 col-lg-3 ">
                    <input type="password"  id="NewPassword2" name ="NewPassword2" class="form-control"/><br/>
                </div>
                <input type="submit" class="btn-primary btn" value="Cambiar"/>
            </form>
        </div>
    </div>
    <div id="error" style="display: none;">
        <div class="row center margin-bottom-15 menu-actions" id="changePasswordError" style=" opacity:1; background-color:#d2322d "> ERROR </div>
        <div class="panel padding-bottom-25 padding-top-25 shadow panel-body center contenido active">
            <form id="changePassword" name="changePassword">
                <center>
                    Ha ocurrido un error de conexión<br/>
                    Estamos trabajando para solucionarlo lo antes posible <br/>
                    Inténtelo de nuevo mas tarde<br/>
                    Lamentamos las molestias
                </center>
            </form>
        </div>
    </div>


{% endblock %}



{% block js %}
    {{parent()}}
    <script type="text/javascript" src="{{asset('js/ajax.js')}}"></script>
    <script type="text/javascript" src="{{asset('js/TweenMax.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('js/TimelineMax.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('js/svg.js')}}"></script>

{% endblock %}

