{% extends "TeachingGeneralBundle:Login:template_with_actions.html.twig" %}





{% block actions %}
    
    <div id="recibidos"
        class="col-xs-12
               col-sm-4
               col-md-4
               col-lg-4 menu-actions"
        onmouseover="menuOver('recibidos');" onmouseout="menuOut('recibidos');" onclick="menuShow('recibidos');">
       Recibidos
   </div>
   <div id="enviados"
        class="col-sm-4 col-md-4 col-lg-4 menu-actions"
        onmouseover="menuOver('enviados');" onmouseout="menuOut('enviados');" onclick="menuShow('enviados');">
       Enviados
   </div>
   <div id="redactar"
        class="col-sm-4 col-md-4 col-lg-4 menu-actions"
        onmouseover="menuOver('redactar');" onmouseout="menuOut('redactar');" onclick="menuShow('redactar');">
       Redactar
   </div>
    
{% endblock %}



{% block result %}

    {# Message flash #}
    {% for message in  app.session.flashbag.get('message_send') %}
    {% for verificate in app.session.flashbag.get('verificate') %}

        {% if verificate == 'success' %}
            
            <div class="alert alert-success" id="msg_flash">
                {{ message }}
            </div>
            
        {% else %}
            
            <div class="alert alert-danger" id="msg_flash">
                {{ message }}
            </div>
            
        {% endif %}


    {% endfor %}
    {% endfor %}
    {# End message flash #}


    <div class="panel center padding-bottom-25 shadow contenido active" id="recibidos-mostrar">
        
        <div class="panel-heading">
            <h2>Mensajes recibidos</h2>

            {% if messages_receibe | length > 0 %}
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    De</div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    Asunto</div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    Mensaje</div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    Fecha</div>
            {% endif %}

        </div>

        <div class="panel-body">
            {% if messages_receibe | length > 0 %}
                {% for m in messages_receibe %}
                    <div class="col-xs-2
                                col-sm-2
                                col-md-2
                                col-lg-2">
                        {{ m.fromUser.username }}</div>
                    <div class="col-xs-3
                                col-sm-3
                                col-md-3
                                col-lg-3">
                        {{ m.subject }}</div>
                    <div class="col-xs-4
                                col-sm-4
                                col-md-4
                                col-lg-4">
                        {{ m.message }}</div>
                    <div class="col-xs-3
                                col-sm-3
                                col-md-3
                                col-lg-3">
                        {{ m.date | date('d-m-Y, H:m') }}</div>
                {% endfor %}
            {% else %}
                <p>No tienes mensajes.</p>
            {% endif %}
        </div>

    </div>


    <div class="panel center padding-bottom-25 shadow contenido" id="enviados-mostrar">
        
        <div class="panel-heading">
            <h2>Mensajes enviados</h2>

            {% if messages_send | length > 0 %}
                <div class="col-sm-2 col-md-2 col-lg-2">
                    Para</div>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    Asunto</div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    Mensaje</div>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    Fecha</div>
            {% endif %}

        </div>

        <div class="panel-body">
            {% if messages_send | length > 0 %}
                {% for m in messages_send %}
                    <div class="col-xs-2
                                col-sm-2
                                col-md-2
                                col-lg-2">
                        {{ m.toUser.username }}</div>
                    <div class="col-xs-3
                                col-sm-3
                                col-md-3
                                col-lg-3">
                        {{ m.subject }}</div>
                    <div class="col-xs-4
                                col-sm-4
                                col-md-4
                                col-lg-4">
                        {{ m.message }}</div>
                    <div class="col-xs-3
                                col-sm-3
                                col-md-3
                                col-lg-3">
                        {{ m.date | date('d-m-Y, H:m') }}</div>
                {% endfor %}
            {% else %}
                <p>No tienes mensajes.</p>
            {% endif %}
        </div>

    </div>


    

    
    <div class="panel center padding-bottom-25 shadow contenido" id="redactar-mostrar">
        
        <div class="panel-heading">
            <h2>Enviar mensaje</h2>
        </div>

        <div class="panel-body">
            {{ form_start(form) }}

                <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
                    <div class="left
                                col-xs-12
                                col-md-offset-3
                                col-md-2" >
                        <h3 class="h3">
                            {{ form_label(form.Para) }}
                        </h3>
                    </div>
                    <div class="col-xs-12
                                col-md-4 margin-top-15">
                        {{ form_widget(form.Para, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>


                <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
                    <div class="left
                                col-xs-12
                                col-md-offset-3
                                col-md-2" >
                        <h3 class="h3">
                            {{ form_label(form.Asunto) }}
                        </h3>
                    </div>
                    <div class="col-xs-12
                                col-md-4 margin-top-15">
                        {{ form_widget(form.Asunto, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>

                <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
                    <div class="left
                                col-xs-12
                                col-md-offset-3 col-md-2" >
                        <h3 class="h3">
                            {{ form_label(form.Mensaje) }}
                        </h3>
                    </div>
                    <div class="col-xs-12
                                col-md-4 margin-top-15">
                        {{ form_widget(form.Mensaje, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>

                <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
                    <br/>
                    <button class="btn btn-info">
                        <h3>Enviar</h3>
                    </button>
                </div>

            {{ form_end(form) }}
        </div>

    </div>


   
                       
{% endblock %}

