{% extends "TeachingGeneralBundle:Login:template_with_actions.html.twig" %}

{% block css %}
    {{parent()}}
    <link href="{{ asset('css/section.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}



{% block actions %}
    
    <div id="recibidos"
        class="col-xs-12
               col-sm-4
               col-md-4
               col-lg-4 menu-actions"
        onmouseover="menuOver('recibidos');" onmouseout="menuOut('recibidos');" onclick="menuShow('recibidos');">
       Recibidos
   </div>
   <div id="enviados"
        class="col-xs-12 col-sm-4 col-md-4 col-lg-4 menu-actions"
        onmouseover="menuOver('enviados');" onmouseout="menuOut('enviados');" onclick="menuShow('enviados');">
       Enviados
   </div>
   <div id="redactar"
        class="col-xs-12 col-sm-4 col-md-4 col-lg-4 menu-actions"
        onmouseover="menuOver('redactar');" onmouseout="menuOut('redactar');" onclick="menuShow('redactar');">
       Redactar
   </div>
    
{% endblock %}



{% block result %}

    {# Message flash #}
    {% for message in  app.session.flashbag.get('message_send') %}
    {% for verificate in app.session.flashbag.get('verificate') %}

        {% if verificate == 'success' %}
            
            <div class="alert alert-success" id="msg_flash">
                {{ message }}
            </div>
            
        {% else %}
            
            <div class="alert alert-danger" id="msg_flash">
                {{ message }}
            </div>
            
        {% endif %}


    {% endfor %}
    {% endfor %}
    {# End message flash #}


    <div class="panel padding-bottom-25 shadow contenido" id="recibidos-mostrar" style="display: block;">
        <h2 class="center">Mensajes recibidos</h2>
        <div class="panel-heading hidden-xs">
            

            {% if messages_receibe | length > 0 %}
                <br/>
                
                <div class="col-sm-2 col-md-2 col-lg-2">
                    <b>De</b></div>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <b>Asunto</b></div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <b>Mensaje</b></div>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <b>Fecha</b></div>
                <br/>
                <hr/>
            {% endif %}

        </div>

        <div class="panel-body">
            {% if messages_receibe | length > 0 %}
                {% for m in messages_receibe %}
                    
                    <span class="col-xs-12 hidden-sm hidden-md hidden-lg"><b>De:</b></span>
                    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                        {% if m.fromUser.username == 'admin' %}
                            Teaching!
                        {% else %}
                            {{ m.fromUser.username }}
                        {% endif %}</div>
                    <span class="col-xs-12 hidden-sm hidden-md hidden-lg"><b>Asunto:</b></span>
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                        {{ m.subject }}</div>
                        
                        
                    <div class="hidden-xs col-sm-4 col-md-4 col-lg-4">
                        {{ m.message }}</div>
                        
                        
                    <span class="col-xs-12 hidden-sm hidden-md hidden-lg"><b>Fecha:</b></span>
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                        {{ m.date | date('d/m/Y, H:i') }}</div>
                        
                        
                    <span class="col-xs-12 hidden-sm hidden-md hidden-lg"><b>Mensaje:</b></span>
                    <div class="col-xs-12 hidden-sm hidden-md hidden-lg margin-bottom-50">
                        {{ m.message }}</div>
                    
                    <div class="hidden-xs col-sm-12 margin-bottom-50"></div>
                {% endfor %}
            {% else %}
                <div class="center col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    No tienes mensajes.
                </div>
            {% endif %}
        </div>

    </div>


    <div class="panel padding-bottom-25 shadow contenido" id="enviados-mostrar" style="display: none;">
        
        
        <h2 class="center">Mensajes enviados</h2>
        <div class="panel-heading hidden-xs">
            

            {% if messages_send | length > 0 %}
                <br/>
                <div class="col-sm-2 col-md-2 col-lg-2">
                    <b>Para</b></div>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <b>Asunto</b></div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <b>Mensaje</b></div>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <b>Fecha</b></div>
                <br/>
                <hr/>
            {% endif %}

        </div>
        
        <div class="panel-body">
            {% if messages_send | length > 0 %}
                {% for m in messages_send %}
                    
                    
                    <span class="col-xs-12 hidden-sm hidden-md hidden-lg"><b>Para:</b></span>
                    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                        {% if m.toUser.username == 'admin' %}
                            Teaching!
                        {% else %}
                            {{ m.toUser.username }}
                        {% endif %}
                    </div>
                        
                        
                    <span class="col-xs-12 hidden-sm hidden-md hidden-lg"><b>Asunto:</b></span>
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                        {{ m.subject }}</div>
                        
                        
                    <div class="hidden-xs col-sm-4 col-md-4 col-lg-4">
                        {{ m.message }}</div>
                        
                        
                    <span class="col-xs-12 hidden-sm hidden-md hidden-lg"><b>Fecha:</b></span>
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                        {{ m.date | date('d/m/Y, H:i') }}</div>
                        
                        
                    <span class="col-xs-12 hidden-sm hidden-md hidden-lg"><b>Mensaje:</b></span>
                    <div class="col-xs-12 hidden-sm hidden-md hidden-lg margin-bottom-50">
                        {{ m.message }}</div>
                    
                    <div class="hidden-xs col-sm-12 margin-bottom-50"></div>
                    
                {% endfor %}
            {% else %}
                <div class="center col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    No tienes mensajes.
                </div>
            {% endif %}
        </div>

    </div>


    

    
    <div class="panel center padding-bottom-25 shadow contenido" id="redactar-mostrar" style="display: none;">
        
        <div class="panel-heading">
            <h2>Enviar mensaje</h2>
        </div>

        <div class="panel-body">
            {{ form_start(form) }}

                <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
                    <div class="left
                                col-xs-12
                                col-md-offset-3
                                col-md-2" >
                        <h3 class="h3">
                            {{ form_label(form.Para) }}
                        </h3>
                    </div>
                    <div class="col-xs-12
                                col-md-4 margin-top-15">
                        {{ form_widget(form.Para, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>
                

                <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
                    <div class="left
                                col-xs-12
                                col-md-offset-3
                                col-md-2" >
                        <h3 class="h3">
                            {{ form_label(form.Asunto) }}
                        </h3>
                    </div>
                    <div class="col-xs-12
                                col-md-4 margin-top-15">
                        {{ form_widget(form.Asunto, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>

                <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
                    <div class="left
                                col-xs-12
                                col-md-offset-3 col-md-2" >
                        <h3 class="h3">
                            {{ form_label(form.Mensaje) }}
                        </h3>
                    </div>
                    <div class="col-xs-12
                                col-md-4 margin-top-15">
                        {{ form_widget(form.Mensaje, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>

                <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
                    <br/>
                    <button class="btn btn-info">
                        <h3>Enviar</h3>
                    </button>
                </div>

            {{ form_end(form) }}
        </div>

    </div>


   
                       
{% endblock %}

