{% extends "TeachingGeneralBundle::template.html.twig" %}

{% block header %}Bienvenido {{ app.user.username }}{% endblock %}

{% block content %}
    <div class="container" style="text-align: center;">
        
        <div data-step="1" data-intro="Asignaturas" data-position="bottom">
        <div class="row show-grid">
            
            {# Div subjects #}
            {% for s in subjects %}
                
                <a href="{{ path('teaching_user_homepage') }}{{ s.link }}/">
                    <div 
                         class="col-md-{{ s.dimension }} col-md-offset-{{ s.offset }}
                                col-sm-{{ s.dimension }} col-sm-offset-{{ s.offset }}
                                col-lg-{{ s.dimension }} col-lg-offset-{{ s.offset }}" 
                         style="color: {{ s.color }}; background-color: {{ s.background }};">
                        {{ s.name }}
                    </div>
                </a>
                
            {% endfor %}
            
        </div>
        
        <div class="row show-grid" data-step="1" data-intro="Asignaturas" data-position="bottom">
            
            {# Div subjects #}
            {% for s in subjects2 %}
                
                <a href="{{ path('teaching_user_homepage') }}{{ s.link }}/">
                    <div 
                         class="col-md-{{ s.dimension }} col-md-offset-{{ s.offset }}
                                col-sm-{{ s.dimension }} col-sm-offset-{{ s.offset }}
                                col-lg-{{ s.dimension }} col-lg-offset-{{ s.offset }}" 
                         style="color: {{ s.color }}; background-color: {{ s.background }};">
                        {{ s.name }}
                    </div>
                </a>
                
            {% endfor %}
            
        </div>
            
        </div>   
            
        
        <div class="row show-grid">
            {# Div message #}
            {% for m in message %}
                
                <a href="{{ path('teaching_user_homepage') }}{{ m.link }}/">
                    <div 
                         class="col-md-{{ m.dimension }} col-md-offset-{{ m.offset }}
                                col-sm-{{ m.dimension }} col-sm-offset-{{ m.offset }}
                                col-lg-{{ m.dimension }} col-lg-offset-{{ m.offset }}" 
                         style="color: {{ m.color }}; background-color: {{ m.background }};"
                         data-step="{{ m.intro_s}}" data-intro="{{ m.intro_m }}" data-position="{{ m.intro_p }}">
                        {{ m.name }}
                    </div>
                </a>
                
            {% endfor %}
            
            
            
            {# Div configuration #}
            {% for c in config %}
                
                <a href="{{ path('teaching_user_homepage') }}{{ c.link }}/">
                    <div 
                         class="col-md-{{ c.dimension }} col-md-offset-{{ c.offset }}
                                col-sm-{{ c.dimension }} col-sm-offset-{{ c.offset }}
                                col-lg-{{ c.dimension }} col-lg-offset-{{ c.offset }}" 
                         style="color: {{ c.color }}; background-color: {{ c.background }};"
                         data-step="{{ c.intro_s }}" data-intro="{{ c.intro_m }}" data-position="{{ c.intro_p }}">
                        {{ c.name }}
                    </div>
                </a>
                
            {% endfor %}
                
            
            
            
            {# Div ayuda #}
            <a href="javascript:void(0);"> 
                <div 
                     class="col-md-4 col-md-offset-1
                            col-sm-4 col-sm-offset-1
                            col-lg-4 col-lg-offset-1" 
                     style="color: black; background-color: white;"
                     onclick='javascript:introJs().start().setOption("skipLabel", "Salir");'>
                   Ayuda
               </div>
            </a>
                
            
            
        </div> 
    </div>
{% endblock %}