{% extends "TeachingGeneralBundle::template.html.twig" %}

{% block header %}
    
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-7">
        <h1>Bienvenido a Teaching! <span class="">{{ app.user.username }}</span></h1>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-3 col-lg-offset-2 col-lg-3">
        <a href="{{ path('logout')}}">
            <button class="btn btn-danger margin-top-25 margin-bottom-25" title="Cerrar sesión"><h4>Cerrar sesión</h4></button>
        </a>
    </div>

{% endblock %}

{% block content %}

    <div class="container center">
        
        <br/>
        <div class="row">
            
            <div class="col-sm-7" data-step="1" data-intro="En esta zona podrás consultar todas las tareas para cada asignatura, ¡hasta las tareas por hacer!" data-position="right">
                
                    
                <div class="row">
                        
                    {% for s in subjects1 %}
                        
                        <a href="{{ path('teaching_user_homepage') }}{{ s.link }}/">
                            <div id="{{ s.link }}"
                                 class="item-menu
                                        col-xs-{{ s.dxs }} col-xs-offset-{{ s.oxs }}
                                        col-md-{{ s.dimension }} col-md-offset-{{ s.offset }}
                                        col-sm-{{ s.dimension }} col-sm-offset-{{ s.offset }}
                                        col-lg-{{ s.dimension }} col-lg-offset-{{ s.offset }}" 
                                 style="color: {{ s.color }}; background-color: {{ s.background }};"
                                 onmouseover="over('{{ s.link }}');" onmouseout="out('{{ s.link }}');">
                                {{ s.name }}
                            </div>
                        </a>
                        
                    {% endfor %}

                </div>
                    
                <br/>

                <div class="row">
                    
                    {% for s in subjects2 %}
                        
                        <a href="{{ path('teaching_user_homepage') }}{{ s.link }}/">
                            <div id="{{ s.link }}"
                                 class="item-menu
                                        col-xs-{{ s.dxs }} col-xs-offset-{{ s.oxs }}
                                        col-md-{{ s.dimension }} col-md-offset-{{ s.offset }}
                                        col-sm-{{ s.dimension }} col-sm-offset-{{ s.offset }}
                                        col-lg-{{ s.dimension }} col-lg-offset-{{ s.offset }}" 
                                 style="color: {{ s.color }}; background-color: {{ s.background }};"
                                 onmouseover="over('{{ s.link }}');" onmouseout="out('{{ s.link }}');">
                                {{ s.name }}
                            </div>
                        </a>
                        
                    {% endfor %}

                </div>

                <br/>

                <div class="row">
                    
                    {% for s in subjects3 %}
                        
                        <a href="{{ path('teaching_user_homepage') }}{{ s.link }}/">
                            <div id="{{ s.link }}"
                                 class="item-menu
                                        col-xs-10 col-xs-offset-1
                                        col-md-{{ s.dimension }} col-md-offset-{{ s.offset }}
                                        col-sm-{{ s.dimension }} col-sm-offset-{{ s.offset }}
                                        col-lg-{{ s.dimension }} col-lg-offset-{{ s.offset }}" 
                                 style="color: {{ s.color }}; background-color: {{ s.background }};"
                                 onmouseover="over('{{ s.link }}');" onmouseout="out('{{ s.link }}');">
                                {{ s.name }}
                            </div>
                        </a>
                        
                    {% endfor %}

                </div>

                <br/>

                <div class="row">
                    
                    {% for s in subjects4 %}
                        
                        <a href="{{ path('teaching_user_homepage') }}{{ s.link }}/">
                            <div id="{{ s.link }}"
                                 class="item-menu
                                        col-xs-10 col-xs-offset-1
                                        col-md-{{ s.dimension }} col-md-offset-{{ s.offset }}
                                        col-sm-{{ s.dimension }} col-sm-offset-{{ s.offset }}
                                        col-lg-{{ s.dimension }} col-lg-offset-{{ s.offset }}" 
                                 style="color: {{ s.color }}; background-color: {{ s.background }};"
                                 onmouseover="over('{{ s.link }}');" onmouseout="out('{{ s.link }}');">
                                {{ s.name }}
                            </div>
                        </a>
                        
                    {% endfor %}
                    

                </div>

                <br/>
            </div>



            <div class="col-sm-5">
                <div class="row">

                    <div id="ayuda"
                         class="item-menu-help
                                col-xs-10 col-xs-offset-1
                                col-md-11 col-md-offset-1
                                col-sm-11 col-sm-offset-1
                                col-lg-11 col-lg-offset-1" 
                         style="color: white; background-color: #3a87ad;"
                         onmouseover="over('ayuda');" onmouseout="out('ayuda');"
                         onclick='javascript:introJs().start();'>
                        Ayuda
                   </div>

               </div>


               <br/>


               <div class="row">

                    {% for m in message %}
                
                        <a href="{{ path('teaching_user_homepage') }}{{ m.link }}/">
                            <div id="{{ m.link }}"
                                 class="item-menu
                                        col-xs-10 col-xs-offset-1
                                        col-md-{{ m.dimension }} col-md-offset-{{ m.offset }}
                                        col-sm-{{ m.dimension }} col-sm-offset-{{ m.offset }}
                                        col-lg-{{ m.dimension }} col-lg-offset-{{ m.offset }}" 
                                 style="color: {{ m.color }}; background-color: {{ m.background }};"
                                 data-step="{{ m.intro_s}}" data-intro="{{ m.intro_m }}" data-position="{{ m.intro_p }}"
                                 onmouseover="over('{{ m.link }}');" onmouseout="out('{{ m.link }}');">
                                {{ m.name }}
                            </div>
                        </a>
                        
                    {% endfor %}

                </div>

                <br/>

                <div class="row">

                    {% for c in config %}
                
                        <a href="{{ path('teaching_user_homepage') }}{{ c.link }}/">
                            <div id="{{ c.link }}"
                                 class="item-menu
                                        col-xs-10 col-xs-offset-1
                                        col-md-{{ c.dimension }} col-md-offset-{{ c.offset }}
                                        col-sm-{{ c.dimension }} col-sm-offset-{{ c.offset }}
                                        col-lg-{{ c.dimension }} col-lg-offset-{{ c.offset }}" 
                                 style="color: {{ c.color }}; background-color: {{ c.background }};"
                                 data-step="{{ c.intro_s }}" data-intro="{{ c.intro_m }}" data-position="{{ c.intro_p }}"
                                 onmouseover="over('{{ c.link }}');" onmouseout="out('{{ c.link }}');">
                                {{ c.name }}
                            </div>
                        </a>
                        
                    {% endfor %}

                </div>


            </div>

        </div>




    </div>
                         


{% endblock %}


{% block js %}
    
    {# Mantiene el js anterior más, lo que añadimos aquí #}
    {{ parent() }}

    {# Añade sombreado a los elementos del menú #}
    <script type="text/javascript" src="{{ asset('js/menu_home.js') }}"></script>
    
{% endblock %}