<!DOCTYPE html>
<html lang="es">
    <head>
        <title>{% block title %}Teaching!{% endblock %}</title>
        <!-- Para dispositivos móviles -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        
        
    </head>
    <body>
        <div class="container-fluid" style="height: 100px; background-color: gold;">
            <h1>Teaching!</h1>
            <div>{% if app.user is not null %}<a href="{{ path('logout')}}">Cerrar sesión</a>{% endif %}</div>
            <div>{% block breadcrumps %}{% endblock %}<br/>
            {% if is_granted('ROLE_USER') %}ROLE_USER{% endif %}
            {% if is_granted('ROLE_ADMIN') %}ROLE_ADMIN{% endif %}
            {% if is_granted('ROLE_TEACHER') %}ROLE_TEACHER{% endif %}
                </div>
        </div>
            
        {% block content %}

        {% endblock %}
        
        <!-- Bootstrap Css -->
        {% block css %}
            <link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('bootstrap/css/main.css') }}" rel="stylesheet" type="text/css" />
        {% endblock %}
        
        <!-- JQuery -->
        {% block js %}
            <script type="text/javascript" src="{{ asset('bootstrap/js/jquery-1.11.0.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bootstrap/js/functions_js.js') }}"></script>
            <!-- Intro JS -->
            <script type="text/javascript" src="{{ asset('introjs/intro.js') }}"></script>
            <link href="{{ asset('introjs/introjs.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('introjs/minified/introjs-rtl.min.css') }}" rel="stylesheet" type="text/css" />
        {% endblock %}
    </body>
</html>