<!DOCTYPE html>
<html lang="es">
    <head>
        <title>{% block title %}Teaching!{% endblock %}</title>
        <!-- Para dispositivos móviles -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="{{ asset('img/favicon.png') }}" />




    </head>
    <body>
        <div id="todo">
            <div id="contenido">
                <div id="subcontenido">

                    {# Header of application #}
                    <div class="container " id="header">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                                <center><a href="{{ url('teaching_homepage')}}" ><img src="{{ asset('img/logo.png') }}" class="img-responsive" title="Teaching!" /></a> </center>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                                <div class="center">{% block header %}{% endblock %}</div>
                            </div>
                        </div>
                        <div class="row">
                            <hr/>
                        </div>


                    </div>

                    <div class="container">
                    </div>

                    <br/>

                    {# Content of application #}
                    {% block content %}

                    {% endblock %}

                    <br/>




                    {# Footer #}

                    <div class="container">
                    </div>
                </div>
                <div class="container" id="footer">
                    <div class="row">
                        <hr/>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12 center">
                            <h3 class="h3">Proyecto Daw realizado por Emilio Crespo Perán y Francisco Javier González Navarro</h3>
                            <br/>
                            <b>Todos los derechos reservados &copy;</b>
                            <br/><br/>
                            <b>Last update:</b> 29/05/2014
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="imagen-cargar">
            <img src = "{{asset('img/fondos/stickman-hanging.png')}}" alt="cargando" style=" width: 100%"/>
            <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
            <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
            <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
        </div>

        <div id="imagen-precargar">
            <img src = "{{asset('img/fondos/stickman-flying.png')}}" alt="cargando" style=" width: 100%"/>
        </div>



        {# Bootstrap CSS #}
        {% block bootstrap %}
            <link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
            <script type="text/javascript" src="{{ asset('bootstrap/js/jquery-1.11.0.js') }}"></script>
        {% endblock %}


        {# JS #}
        {% block js %}
            <script type="text/javascript" src="{{ asset('js/functions.js') }}"></script>
        {% endblock %}


        {# Intro JS #}
        <script type="text/javascript" src="{{ asset('introjs/intro.js') }}"></script>
        <link href="{{ asset('introjs/introjs.css') }}" rel="stylesheet" type="text/css" />
		<link href="{{ asset('introjs/themes/introjs-nassim.css') }}" rel="stylesheet" type="text/css" />
		

        {# CSS #}
        {% block css %}
            <link href="{{ asset('css/template.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('css/general.css') }}" rel="stylesheet" type="text/css" />
        {% endblock %}


    </body>
</html>